<h1>Informativo</h1>
<p>Pagina de prueba para desarrollo web</p>

<div class="jumbotron">
  <h1>Demo</h1>
  <p>Aprendiendo a programar con ruby...</p>
  <button class="btn btn-default btn-lg miboton" href="#" role="button">Learn more</button>
</div>
